<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/logs/logFile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/logs/logFile.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 180 days' worth of history -->
      <maxHistory>180</maxHistory>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M.%L - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <springProperty name="ACTIVE_PROFILE" source="spring.profiles.active"/>
  <property name="INCLUDE_CALLER_DATA" value="false"/>
  <property name="QUEUE_SIZE" value="2048"/>
  <property name="NEVER_BLOCK" value="true"/>
  <property name="MAX_FLUSH_TIME" value="60000"/>

  <root level="INFO">
    <appender-ref ref="FILE"/>
  </root>

  <logger name="com.wynnn.ipfilter" level="INFO" additivity="false">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </logger>
</configuration>
